
<html>
<head>

<title>
Oregon Trail - Game
</title>
<link rel="icon" href="/images/buggy.png"  type="image/png" />
<link rel="stylesheet" type="text/css" href="css/game.css"/>  
<link rel="stylesheet" type="text/css" href="css/global.css"/>
    
</head>

<body>


<div class = "boxBack">
    <div class = "leftCol"> </div>
    <div id = "gameContainer"> </div>
    <div class = "rightCol"> </div>

    
</div> 
    
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/gameController.js"></script>

</body>
</html>



<!-- The Oregon Trail <div class = "menuOptions"> 1. Be a banker from Boston <br><br> 2. Be a carpenter from Ohio<br><br> 3. Be a farmer from Illinois <br><br>4. Find out the differences between the choices </div><div id = "choiceText"><div>What is your choice?</div><br><div>Or</div><br><div class = "blinkingText" id = "blinkText">Press space to go to main menu</div></div>

-->