


<html>
<head>
<link rel="icon" href="/images/buggy.png"  type="image/png" />
<title>
Oregon Trial - Menu
</title>
<link rel="stylesheet" type="text/css" href="css/mainmenu.css">  
<link rel="stylesheet" type="text/css" href="css/global.css">
</head>

<body>
        <audio id = "themeMusic" preload="auto">
            <source src = "/music/introSong.mp3" /> </audio>
<div class = "boxBack">
    <div class = "leftCol">  </div>
    <div class = "midCol"> The Oregon Trail 
        <div class = "midTitle"> Main Menu </div>
        <div class = "menuOptions"> 1. Travel the trail <br><br> 2. Learn about the trail <br><br> 3. See the Oregon top 10 <br><br>4. Turn sound 
            <span id = "soundButt">OFF</span></div>
        <div id = "selectButt" class = "blinkingText"> Select an option</div>
    </div>
    <div class = "rightCol">  </div>

    
    </div>    
    <script type="text/javascript" src="js/mainmenu.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
</body>
</html>
