
<html>
<head>

<title>
Oregon Trail - Top Ten
</title>
<link rel="stylesheet" type="text/css" href="css/topten.css">  
<link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="icon" href="/images/buggy.png"  type="image/png" />
</head>

<body>

<div class = "boxBack">
    <div class = "leftCol"> </div>
    <div class = "midCol"> The Oregon Trail 
        <div class = "midTitle"> Top Ten </div> 
        <div id = "topTenTable"></div>
        <div class = "blinkingText" id = "blinkText">Press space to go to main menu</div>
        
        </div>
    <div class = "rightCol"> </div>

    
</div> 

    
    
    <script type="text/javascript" src="js/topten.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
</body>
</html>
