<html>
<head>
<link rel="icon" href="/images/buggy.png"  type="image/png" />
<title>
Oregon Trial - Trail
</title>
<link rel="stylesheet" type="text/css" href="css/trail.css">  
<link rel="stylesheet" type="text/css" href="css/global.css">
</head>

<body>

<div class = "boxBack">
    <div class = "leftCol">  </div>
    <div class = "midCol"> The Oregon Trail 
        <div id="statsTrail">
       <p>Members Left:</p><p id = "membersLeft"></p>
        <p>Total Health:</p><p id = "health"></p>
        <p>Distance Traveled:</p><p id = "distance"></p>
        <p>Days Traveled:</p><p id = "daysTraveled"></p>
        <p>Pace:</p><p id = "currentPace"></p>
        <p>Current Terrain:</p><p id = "currentTerrain"></p>
        <p>Weather:</p><p id = "currentweather"></p>
        </div>
        <div>
            
        </div>
    </div>
    <div class = "rightCol">  </div>

    
    </div>    
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/trail.js"></script>

</body>
</html>
